/* Colors */
:root {
  --light-blue: #0097b2;
  --blue: #1d4286;
  --green: #6cbe4c;
  --gray: #292929;
  --white: #ffffff;
  --light-gray: #f5f5f5;
}

/* Global Styles */
body {
  font-family: Tahoma, sans-serif;
  padding: 0;
  background-color: var(--light-gray);
  overflow-x: hidden;
}

section {
  padding: 80px 20px;
  text-align: center;
}

h1 {
  color: var(--blue);
}

h2 {
  color: var(--blue);
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* Menu */
#navbar {
  background-color: var(--light-gray);
  padding: 10px;
  border-radius: 10px;
  width: 100%; 
  box-sizing: border-box;
}

nav {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto; 
  flex-wrap: nowrap;
}

.navbar-container {
  display: flex;
  justify-content: left;
  width: 100%;
  max-width: none;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  padding: 30px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--green);
}

.nav-links-container {
  flex: 3;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  align-items: right;
  white-space: nowrap;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links li a {
  padding: 10px 15px;
}

.banner-container {
    position: relative; 
    width: 100%;
}

.banner {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

.brand-name {
  display: none;
}

.close-menu {
  display: none;
}
/* End menu */

/* Home */
.home-photo {
  width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Services Section */
.service-card {
  background-color: var(--light-gray);
  padding: 20px;
  border-radius: 12px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.service-text {
  text-align: justify;
  color: var(--gray);
}

.service-text h2 {
  margin-bottom: 10px;
  text-align: center;
}

.service-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: (--gray)
}

/* About Us Section */
.about-box {
  background-color: var(--light-gray); 
  padding: 20px;
  border-radius: 12px; 
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px; 
}

.about-text {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.about-box h2 {
  margin-bottom: 15px;
}

.about-box p {
  color: var(--gray);
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.team-photo {
  max-width: 200px;
  height: auto;
  border-radius: 10%; 
  margin-top: 10px;
  display: block;
}

.team-member {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border: 1px solid var(--white);
  border-radius: 10px;
  background: var(--light-gray);
}


/* Contact Us Section */
.contact-container {
  display: flex; 
  justify-content: center; 
  gap: 30px; 
  flex-wrap: wrap; 
  margin: 20px auto;
}

.contact-form {
  background-color: var(--light-gray); 
  padding: 20px;
  max-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  text-align: center;
}

.contact-form button {
  margin-top: 20px; /* Add space above the button */
  padding: 10px 20px; /* Adjust button padding */
  background-color: var(--blue); 
  border: none;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input, textarea {
  width: 90%; 
  padding: 8px;
  margin-top: 5px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--green);
  box-shadow: 0 0 8px var(--green);
}

/*Footer*/
footer {
  background-color: var(--gray); 
  color: var(--light-blue);
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  width: 100%; 
  box-sizing: border-box; 
}

.footer-container {
  max-width: 800px;
  margin: auto;
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}

.social-icons img {
  width: 30px; 
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2); 
}


/* Responsive Design */
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
    font-size: 14px;
  }

  /* Navigation Bar for mobiles*/
  /* Hamburger button */
  /* ------------------------------------------------- */
  .menu-container {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
  }

  .line {
    background-color: var(--gray);
    height: 5px;
    width: 100%;
  }

  /* Title */
  .brand-name {
    font-size: 28px;
    font-weight: bold;
    color: var(--blue);
    display: block;
  }

  /* Show menu on clic */
  .menu-active {
    display: block;
    top: 60px; 
    left: 0;
    width: 100%;
    background-color: var(--blue); 
    text-align: center;
    z-index: 1000;
    border-radius: 20px;
  }

  .menu-active ul {
    display: block; /* Change to column */
    padding: 0;
    margin: 0;
  }

  .menu-active ul li a {
    display: block; 
    padding: 15px;
    color: var(--blue);
    text-decoration: none;
    font-size: 18px;
  }
  
  .menu-active ul li a:hover {
    background-color: var(--light-blue); 
  }

  .banner-container {
    display: none;
  }

  #menu {
    position: fixed;
    top: 0;
    right: -100%; /* Hidden menu*/
    width: 70%;
    height: 30vh;
    background: var(--light-gray);
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #menu.menu-active {
    right: 0; /* Show menu */
  }

  .close-menu {
    background: var(--gray);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    border: none;
    cursor: pointer;
    display: block;
  }
/*End Navigation Bar for mobiles*/

  .home-photo {
    width: 90%;
  }

  .service-card {
    width: 100%;
    padding: 10px;
    max-width: 92%;
  }

  .about-box {
    width: 100%;
    padding: 10px;
    max-width: 92%;
  }

  .contact-form input, .contact-form textarea {
    width: 100%; 
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-sizing: border-box; 
  }

  .team-photo {
    max-width: 150px;
  }

  .contact-form {
    width: 100%;
     max-width: 100%; 
    padding: 10px;
  }

  .contact-container {
    width: 100%;
    max-width: 100%; 
  }

  footer {
    width: 100%; 
    max-width: none; 
    padding: 20px 20px 20px 20px; 
    
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 10px;
    font-size: 14px;
  }

  /* Navigation Bar for mobiles*/
  /* Hamburger button */
  /* ------------------------------------------------- */
  .menu-container {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
  }

  .line {
    background-color: var(--gray);
    height: 5px;
    width: 100%;
  }

  /* Title */
  .brand-name {
    font-size: 28px;
    font-weight: bold;
    color: var(--blue);
    display: block;
  }

  /* Show menu on clic */
  .menu-active {
    display: block;
    top: 60px; 
    left: 0;
    width: 100%;
    background-color: var(--blue); 
    text-align: center;
    z-index: 1000;
    border-radius: 20px;
  }

  .menu-active ul {
    display: block; /* Change to column */
    padding: 0;
    margin: 0;
  }

  .menu-active ul li a {
    display: block; 
    padding: 15px;
    color: var(--blue);
    text-decoration: none;
    font-size: 18px;
  }
  
  .menu-active ul li a:hover {
    background-color: var(--light-blue); 
  }

  .banner-container {
    display: none;
  }

  #menu {
    position: fixed;
    top: 0;
    right: -100%; /* Hidden menu*/
    width: 70%;
    height: 30vh;
    background: var(--light-gray);
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #menu.menu-active {
    right: 0; /* Show menu */
  }

  .close-menu {
    background: var(--gray);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
    border: none;
    cursor: pointer;
    display: block;
  }
/*End Navigation Bar for mobiles*/

  .home-photo {
    width: 90%;
  }

  .service-card {
    width: 100%;
    padding: 10px;
    max-width: 92%;
  }

  .about-box {
    width: 100%;
    padding: 10px;
    max-width: 92%;
  }

  .contact-form input, .contact-form textarea {
    width: 100%; 
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--blue);
    border-radius: 5px;
    box-sizing: border-box; 
  }

  .team-photo {
    max-width: 150px;
  }

  .contact-form {
    width: 100%;
     max-width: 100%; 
    padding: 10px;
  }

  .contact-container {
    width: 100%;
    max-width: 100%; 
  }

  footer {
    width: 100%; 
    max-width: none; 
    padding: 20px 20px 20px 20px; 
    
  }
}